
.form{
width: 400px;
max-width: 100%;
margin-inline: auto;
}
.cursor-pointer{

    cursor: pointer;
}

.card{
    min-height: 400px;
}
.card .update{
position: absolute;
top: 10px;
right: 10px;
font-size: 30px;
color: white;
 cursor: pointer;
 z-index: 2;
}
.card img{
    height: 200px;
    object-fit: cover;
}
.card .creation{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(223, 219, 219);
}
.card .creation h4, .card .creation h5{
    font-size: 14px;
}
.card .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}
.card .btns{
    width: 80%;
    bottom: 10px;
}
.auth-form{

    width: 700px;
    max-width: 90%;
    margin: auto;
}
.google-auth{
    width: fit-content;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.hide-element{
    pointer-events: none;
    opacity: 0.5;
}
.arrow{
    background-color: #ccc;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.arrow .chevron{
    pointer-events: none;
}

.page{
    display: grid;
    place-items: center;
    border: 2px solid;
    border-color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.page.active{
    background-color: rgb(128 43 177 / 34%);
    border-color: #802bb1;
}

.post-data{
padding: 50px;
}
.post-data > div{
    flex-basis: 50%;
}

.post-data .image img{
    width: 100%;
}


.recommended-posts .post-cat img{
    width: 100%;
}

.add-comment{
    align-items: center;
    gap: 10px;
    position: relative;
    margin-top: 40px;
}
.add-comment img,.comment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.comments{
    max-height: 200px;
    overflow-y: auto;
}